.list-group-item {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  margin-bottom: 10px;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.btn-group {
  margin-bottom: 20px;
}

.btn {
  margin-right: 10px;
}

h3 {
  color: #007bff;
}

.text-decoration-none {
  text-decoration: none ;
}